# Servico usado pelo linux
# systemctl status|start|stop backend

[Unit]
Description=backendservice
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/opt/rc.proway

[Install]
WantedBy=multi-user.target